.LeaderTable {
	margin: 25px;
	font-size: 18px;
	min-width: 800px;
	border-collapse: collapse;
	margin: 0 auto;
	margin-top: 25px;
}

.LeaderTable thead tr {
	background-color: #4169E1;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
}

.LeaderTable th, .LeaderTable td {
	padding: 12px;
}

.LeaderTable .leaderRow {
	border-bottom: 1px solid #dddddd;
	border-left: 1px solid #4169E1;
	border-right: 1px solid #4169E1;
	width: 300px;
}

.LeaderTable .leaderRow:last-of-type {
	border-bottom: 1px solid #4169E1;
}

.LeaderTable > tbody > .leaderRow > td > img {
	height: 54px;
	border: 1px solid rgb(230, 236, 240);
	border-radius: 50%;
}