.feed {
  border-left: 1.5px solid rgb(230, 236, 240);
  border-right: 1.5px solid rgb(230, 236, 240);
  background-color: rgb(230, 236, 240);
  min-height: calc(100vh - 74px);
  width: 600px;
  margin-top: 74px;
}

.blue {
  border: none;
  color: white;
  height: 36px;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 18px;
  outline-style: none;
  display: block;
  margin-left: auto;
  margin-right: 0px;
}

.blue.inactive {
  background-color: rgb(159, 228, 255);
}

.blue.active {
  background-color: rgb(54, 186, 238);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.2s;
}

.blue.active:hover {
  background-color: rgb(35, 170, 225);
}