#mapContainer {
  width: calc(50vw - 365px);
  height: calc(50vw - 365px);
  position: fixed;
  bottom: 50px;
  right: 25px;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px,
    rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
  justify-content: left;
  background-color: rgb(0, 0, 0, 0);
  max-width: 500px;
  max-height: 500px;
}

.helpNeeded {
  display: flex;
  justify-content: center;
}

#mapContainer button {
  margin-top: 10px;
  outline: none;
  background-color: rgb(0, 0, 0, 0);
  border: none;
  color: rgb(160, 165, 180);
  margin-left: 0px;
  margin-right: auto;
  cursor: pointer;
  display: block;
}

#mapContainer button:hover {
  text-decoration: underline;
}
